div.formRow label {
	display: inline;
	width: 150px;
}

div.formRow input {
	width: 150px;
	float: right;	
}

div.formRow select {
	width: 150px;
	float: right;
}

.formRow {
	width: 310px;
	margin: 5px 0px 5px 0px;
}

.sanRow {
	width: 330px;
	margin: 5px 0px 5px 0px;
}

#cainfo {
	padding: 10px;
}

#certType {
	border-style: solid;
	border-width: 1px;
	width: 330px;
}

fieldset {
	width: 320px;
}